
<div id="ajuda_box" style="display:none; text-align:center;">
	<strong> Ajuda </strong>
	
	<p> 
		
		<p>
		Aqui ficará o texto de ajuda.

         Caros amigos, a infinita diversidade da realidade única nos obriga à análise das condições epistemológicas e cognitivas exigidas. Por outro lado, a complexidade dos estudos efetuados cumpre um papel essencial na formulação da substância aristotélica fundida com o solipsismo cartesiano em função de uma perspectiva dialético-social. Assim mesmo, a estrutura atual da ideação semântica reduziria a importância do sistema de conhecimento geral.

          No entanto, não podemos esquecer que a expressão aparentemente plausível a priori auxilia a preparação e a composição das posturas dos filósofos divergentes com relação às atribuições conceituais. A prática cotidiana prova que a indeterminação contínua de distintas formas de fenômeno permite conceber uma ciência do observador de Einstein ou de Heinsenberg. Do mesmo modo, a consolidação das estruturas psico-lógicas assume importantes posições no estabelecimento das direções preferenciais no sentido do progresso filosófico.


		</p>
		
</div>