<style type="text/css">
	.bold {
		font-weight:bold;
	}
	
	.titulo_texto {
		font-size:20px;
		text-align:center;
	}
</style>


<div id="equipe_oveterano_box" style="display:none; text-align:center;">
<div style="width:700px;" >
<div class ="titulo_texto bold titulo"> Equipe OVeterano.com</div>

	<div style="text-align:center;">
		Desenvolvimento:<br/> <strong>fernando@oveterano.com.br</strong><br/>
						 <strong>lucasbraga@oveterano.com.br</strong><br/>
		<br/>
					
		Apoio:<br/> <a href="http://www.cjr.org.br" target="_blank"><%= image_tag("cjr.jpg")%></a>
		
		
	</div>
</div>
</div>