<style type="text/css">
	.bold {
		font-weight:bold;
	}
	
	.titulo_texto {
		font-size:20px;
		text-align:center;
	}
</style>


<div id="sobre_box" style="display:none; text-align:center;">
<div style="width:700px;">
<div class ="titulo_texto bold titulo"> Sobre</div>

	<div>
		<p>O portal Oveterano é voltado para a integração da comunidade universitária. Busca oferecer ferramentas e informações para facilitar a vida acadêmica dos estudantes e eventuais usuários interessados no assunto. O portal possibilita que discutamos e  encontremos informações sobre disciplinas, professores e departamentos. Além de encontrar disciplinas por horários, podemos anunciar produtos e serviços no mural, utilizar a agenda, interagir com todos os outros usuários e ainda se manter informado sobre os eventos, congressos e, claro, as festas da nossa universidade!</p>

		<p>Para mais informações entre em contato em <span class="bold">contato@oveterano.com</span></p>

		
		
	</div>
</div>
</div>