<div id="anexo_ajuda" style="display:none; text-align:center;">
<div style="width:600px;">
	<strong> Como anexar arquivos? </strong>
	
		
		<p>
		- Nesta página você poderá compartilhar documentos úteis para essa disciplina com outras pessoas.<br/>
		- Para fazer o download dos documentos ou mesmo para anexar novos documentos é necessário que você esteja logado no sistema.<br/>
		- Você poderá anexar documentos de formatos diversos (.txt, .pdf, .jpeg, .png, .doc e etc).<br/>
		- Você precisará informar uma breve descrição sobre o arquivo, dizendo do que se trata. Ex: "Lista de exercícios1" ou "Resumo de estudo da 2º Prova"<br/> 
		- Para que você possa ser ajudado, tente ajudar os outros antes. Portanto antes mesmo de procurar documentos que lhe interessem, tente contribuir e compartilhar todos os documentos que você tenha e que considere úteis para outras pessoas.
		</p>
		
</div>
</div>