<div id="disciplina_ajuda" style="display:none; text-align:center;">
<div style="width:400px;">
	<strong> Como procurar disciplinas? </strong>
	
	<p> 
		
		<p>
		- Nesta página você poderá buscar por disciplinas a partir de palavras chaves como código, nome, departamento ou professor da disciplina.
		</p>
		
</div>
</div>