<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>

Olá <%=h @usuario.nome %>,<br/><br/>


Seja bem vindo ao OVeterano.com<br/>
Para ativar sua conta visite o seguinte endereço:<br/>
<%=h @url %><br/><br/>


Caso você não tenha se cadastrado nesse site, por favor desconsidere esta mensagem.<br/><br/>


Atenciosamente,<br/><br/>

Equipe OVeterano.com<br/><br/>
------------------------------------<br/>
http://www.oveterano.com<br/>

</body>
</html>