<!--Não mudar o id dessa div, pois o javascript procura por ela para atualiza o paginate-->
<div id ="paginates">
<%= will_paginate @professorsearch, :inner_window => 0, :outer_window => 0,:next_label => "Próximo", :previous_label => "Anterior" %>
</div>