<div id="professor_ajuda" style="display:none; text-align:center;">
<div style="width:400px;">
	<strong> Como procurar professores? </strong>
	
	<p> 
		
		<p>
		- Nesta página você poderá buscar por professores a partir de palavras chaves como nome do professor, departamento do professor ou
			disciplinas que o professor ministra.
		</p>
</div>		
</div>