<% content_for (:head) do%>
	<%= stylesheet_link_tag "cadastrar"%>
<%end%>	

<div class="box bg">
	
	<div class="titulo"> Atualizar Dados </div>
	
	<div id="form_cadastro">
		<%= render :partial => 'form_usuario_edit' %>
	</div>

</div>
