<!--<span class="link"> 
<div> %= render :partial => "usuarios/usuario_bar" %></div>
<br />
<br />
<br />
<br />
<br />
	
COMENTAR ISSO AQUI	Clique aqui para se %= link_to "cadastrar",     :controller => "usuarios", :action => "new" %>
E ISSO     ou  				%= link_to "fazer o login", :controller => "sessions", :action => "new" %>
	
</span>

-->
	<!-- Logo do Site-->
	<h1><a href="/"></a></h1>
	<!--<form class="SearchForm" action="#" >
		<div>
			<label><input name="name" value="" class="input"/></label><%= image_submit_tag("button.png") %>
		</div>
	</form>-->

<div class="clear"></div>